<a href="https://colab.research.google.com/github/rj7shakya/machinelearning/blob/master/1_sklearn_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**0. end to end sckit learn workflow**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!ls '/content/drive/My Drive/data'

car-sales.csv
car-sales-extended.csv
car-sales-extended-missing-data.csv
car-sales-missing-data.csv
dog-vision-full-model-predictions-with-mobilenetV2.csv
dog-vision-prediction-probabilites-array.csv
exported-car-sales.csv
exported-patient-data.csv
heart-disease.csv

In [3]:
# 1 get the data ready
import pandas as pd
heart_disease = pd.read_csv('/content/drive/My Drive/data/heart-disease.csv')
heart_disease

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0     63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1     37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2     41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3     56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4     57    0   0       120   354    0  ...      1      0.6      2   0     2       1
..   ...  ...  ..       ...   ...  ...  ...    ...      ...    ...  ..   ...     ...
298   57    0   0       140   241    0  ...      1      0.2      1   0     3       0
299   45    1   3       110   264    0  ...      0      1.2      1   0     3       0
300   68    1   0       144   193    1  ...      0      3.4      1   2     3       0
301   57    1   0       130   131    0  ...      1      1.2      1   1     3       0
302   57    0   1       130   236    0  ...      0      0.0      1   1     2       0

[303 rows x 14 columns]

In [4]:
# create X (features matrix)
X = heart_disease.drop('target',axis=1)

# create Y (labels)
y = heart_disease['target']